**/*.dic
**/*.tsv
**/*.csv
**/*.gff
**/*.bed
**/*.gff3
**/*.fa
**/*.gff
**/*.txt
**/*.png
**/*.dat
**/*tmp*
**/*.net
**/*.net_TF
**/*.gz
**/*tmp
**/*.degree
**/*.zip
**/*.edge
**/*.parquet
**/*.h5ad
**/pippo
**/dic
